@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");

.bg {
  height: 100vh;
  background: url("img/clouds.jpeg") center center no-repeat;
  background-size: cover;
  text-align: center;
  color: #000;
}

.font-style {
  padding-top: 200px;
  font-family: "Merriweather", serif;
}
